.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
}

form {
	display: grid;
	grid-gap: 10px;
}

.form-control label {
	display: block;
}

.form-control input, .form-control select, .form-control textarea {
	width: 100%;
	padding: 5px;
}

.form-control textarea {
	resize: none;
}

.form-control button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.message {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	display: none;
}
